{% extends "base_books.html" %}

{% block content %}

{% if object_list %}
<p>Twoje recenzje:</p>
<table>
    <tr>
        <th>Recenzja</th>
        <th>Książka</th>
        <th>Status</th>
        <th>Akcje</th>
    </tr>
    {% for review in object_list %}
    <tr>
        <td>{{ review.title }}</td>
        <td>{{ review.book }}</td>
        <td>{{ review.get_state_display }}</td>
        <td>
            {% if review.state == 'draft' %}
            <a href="{% url 'reviews:edit-book-review' review.book.pk review.pk %}">edytuj</a>
            {% elif review.state == 'in_moderation' %}
            <form method="POST" action="{% url 'reviews:unpublish-book-review' review.book.pk review.pk %}">{% csrf_token %}<input type="submit" value="Odpublikuj"></form>
            {% endif %}
        </td>
    {% endfor %}
</table>
{% else %}
<p>Brak zapisanych recenzji.</p>
{% endif %}

{% endblock %}
