{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>README &bull; {{ title }}</title>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha256-l85OmPOjvil/SOvVt3HnSSjzF1TUMyT9eV0c2BzEGzU="
          crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab:wght@700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'books/books.css' %}">
</head>
<body>
    <nav>
        <ul>
            <li><a href="{% url 'books:index' %}">Strona główna</a></li>
            <li><a href="{% url 'books:list-authors' %}">Autorzy</a></li>
            <li><a href="{% url 'books:list-books' %}">Książki</a></li>
            <li><a href="{% url 'books:list-categories' %}">Kategorie</a></li>
        </ul>
        {% if request.user.is_authenticated %}
        <p>Witaj, {{ request.user.first_name }}!</p>
        <p><a href="{% url 'reviews:list-reviews' %}">Twoje recenzje</a></p>
        <p><a href="{% url 'logout' %}">Wyloguj</a></p>
        {% else %}
        <p><a href="{% url 'login' %}">Zaloguj</a></p>
        {% endif %}
    </nav>
    <main>
        <h1>{{ title }}</h1>
{% block content %}{% endblock %}
    </main>
</body>
</html>
